<!doctype html>
    <head>
        <meta charset="utf-8">
            <script type="text/javascript"
                    src="https://cdn.jsdelivr.net/npm/brython@3.10.5/brython.min.js">
                        </script>
                            <script type="text/javascript"
                                    src="https://cdn.jsdelivr.net/npm/brython@3.10.5/brython_stdlib.js">
                                        </script>
                                        </head>

					<title>askMartyn text channel</title>
                                        <body onload="brython()">
						<link class='styleshits' rel="stylesheet" href="/get-files/style{{style_sheet_number}}.css">
<script type="text/python">
from browser import document, ajax, html, timer, window

MENU = html.DIV('askMartyn_chat.exe', **{
    "id":"menu"
})

TABLE = html.TABLE(**{
    "id":"main"
})

document <= MENU
document <= TABLE

global COMMENTS
COMMENTS = []
global HEIGHT
HEIGHT = 10000000000000000000000000
TIMEOUT = 200

ASKMARTYN_EMOJI_DICT= {
"askmar1Lookballs"     : "https://static-cdn.jtvnw.net/emoticons/v2/308116045/default/dark/2.0",
"askmar1Eelee"         : "https://static-cdn.jtvnw.net/emoticons/v2/emotesv2_6a8f5678406e4b37983d0c19a71bdba1/default/dark/2.0",
"askmar1Madsgooselcake": "https://static-cdn.jtvnw.net/emoticons/v2/308116052/default/dark/2.0",
"askmar1Alexface"      : "https://static-cdn.jtvnw.net/emoticons/v2/308116115/default/dark/2.0",
"askmar1Croptyn"     : "https://static-cdn.jtvnw.net/emoticons/v2/emotesv2_c5db821f05064a07b968acc23f629bac/default/dark/2.0",
"askmar1Cowtyn"        : "https://static-cdn.jtvnw.net/emoticons/v2/emotesv2_343a336cbed64716b84f840f8355221c/default/dark/2.0",
"askmar1Dresstyn"      : "https://static-cdn.jtvnw.net/emoticons/v2/emotesv2_351ad715118d4d9eb41e51319de6ed89/default/dark/2.0"
}

def add_comment(user):
    COMMENTS.append(user)
    print(user)
    print('not in Comments')
    user_comment = str(user["comment"])
    for emoji in ASKMARTYN_EMOJI_DICT:
       if emoji in user["comment"]:
          TABLE <= html.IMG(src=ASKMARTYN_EMOJI_DICT[emoji],
                   **{"class": "emoji comment"})
       user_comment = user_comment.replace(emoji, '^^')
    comment = [html.SPAN(character , **{"class": "comment{} text".format(user_comment.index(character) % 3)}) for character in user_comment]
    table_row = html.TR([
          html.TD(user["username"], **{"class": "username text"} ),
	  comment
	  ], **{"class":"comment_row"})
          
    TABLE <= table_row
    """
    if len(COMMENTS) > 16:
       print(COMMENTS.pop(0))
       print('removed')
    """

def read(req):
    user_comments = req.json
    for user in user_comments:
       if user not in COMMENTS:
          add_comment(user)
    scroll()
          
def scroll():
   window.scroll({"top": str(HEIGHT), "behaviour":"smooth"})

def wait():
   timer.set_timeout(request, TIMEOUT)


def request():
   ajax.get("users", oncomplete=read)
   timer.set_timeout(wait, TIMEOUT)

request()
</script>
</body></html>
