
<!doctype html>
    <head>
        <meta charset="utf-8">
            <script type="text/javascript"
                    src="https://cdn.jsdelivr.net/npm/brython@3.10.5/brython.min.js">
                        </script>
                            <script type="text/javascript"
                                    src="https://cdn.jsdelivr.net/npm/brython@3.10.5/brython_stdlib.js">
                                        </script>
                                        </head>

					<title>askMartyn text channel</title>
                                        <body onload="brython()">
						<link class='styleshits' rel="stylesheet" href="/get-files/style{{style_sheet_number}}.css">
<script type="text/python">
from browser import document, ajax, html, timer, window

MENU = html.DIV('askMartyn_chat.exe', **{
    "id":"menu",
    "class": "text"
})

TABLE = html.TABLE(**{
    "id":"main"
})

LINE = html.DIV('_', **{
    "id":"line",
    "class": "menu-item"
})

CIRCLE = html.DIV('O', **{
    "id":"circle",
    "class": "menu-item"
})

EX = html.DIV('X', **{
    "id":"x",
    "class": "menu-item"
})


for item in (EX, CIRCLE, LINE):
   MENU <= item

document <= MENU
document <= TABLE

print(document["main"].attrs)
#document["menu"].attrs['width'] = WIDTH

global COMMENTS
COMMENTS = []
global HEIGHT
HEIGHT = 10000000000000000000000000
TIMEOUT = 200

ASKMARTYN_EMOJI_DICT= {
"askmar1Croptyn"     	: "https://static-cdn.jtvnw.net/emoticons/v2/emotesv2_c5db821f05064a07b968acc23f629bac/default/dark/2.0",
"askmar1Cowtyn"        	: "https://static-cdn.jtvnw.net/emoticons/v2/emotesv2_343a336cbed64716b84f840f8355221c/default/dark/2.0",
"askmar1Dresstyn"      	: "https://static-cdn.jtvnw.net/emoticons/v2/emotesv2_351ad715118d4d9eb41e51319de6ed89/default/dark/2.0",
"askmar1Uwybear"	: "https://static-cdn.jtvnw.net/emoticons/v2/emotesv2_da94db0ed7ef4b9fa1a857b210fedb15/static/light/3.0",
"askmar1Lookballs"     	: "https://static-cdn.jtvnw.net/emoticons/v2/308116045/default/dark/2.0",
"askmar1Eelee"         	: "https://static-cdn.jtvnw.net/emoticons/v2/emotesv2_6a8f5678406e4b37983d0c19a71bdba1/default/dark/2.0",
"askmar1Tooquiet"	: "https://static-cdn.jtvnw.net/emoticons/v2/emotesv2_b984229749fa445d81211e1164232506/static/light/3.0",
"askmar1Tooloud"	: "https://static-cdn.jtvnw.net/emoticons/v2/emotesv2_f88f0d72c76e44508172ded00240cec0/static/light/3.0",
"askmar1Techissues"	: "https://static-cdn.jtvnw.net/emoticons/v2/emotesv2_640f73e178e5401aacc1512710111409/animated/light/3.0"
}
EMOTES = []

def get_emotes():
    ajax.get("http://emote.askmartyn:5000/emotes", oncomplete=process_emotes)

def udpate_emotes(req):
    global EMOTES
    EMOTES = req.json.get("Response")
    print(EMOTES)

    


def add_comment(user):
    COMMENTS.append(user)
    user_comment = str(user["comment"])
    for emoji in ASKMARTYN_EMOJI_DICT:
       while user_comment.find(emoji) != -1:
          user_comment = user_comment.replace(emoji, '^', 1)
          emoji_list.append(html.IMG(src=ASKMARTYN_EMOJI_DICT[emoji], **{"class": "emoji comment"}))
    #comment = [html.SPAN(character , **{"class": "comment{} text".format(user_comment.index(character) % 3)}) for character in user_comment]
    comment = create_comment(user_comment, emoji_list)
    print(comment)
    table_row = html.TR([
          html.TD(user["username"], **{"class": "username text"} ),
	  html.TD(comment)
	  ], **{"class":"comment_row"})

    TABLE <= table_row

def create_comment(user_comment, emoji_list):
    comment = []
    for character in user_comment:
       if character is not "^":
          comment.append(html.SPAN(character , **{"class": "comment{} text".format(user_comment.index(character) % 3)}))
       else:
	  try:
	     comment.append(emoji_list.pop(0))
	  except:
             comment.append(html.SPAN("^" , **{"class": "comment{} text".format(user_comment.index(character) % 3)}))
    return comment

def read(req):
    user_comments = req.json
    for user in user_comments:
       if user not in COMMENTS:
          add_comment(user)
    scroll()

def scroll():
   window.scroll({"top": str(HEIGHT), "behaviour":"smooth"})

def wait():
   timer.set_timeout(request, TIMEOUT)


def request():
   ajax.get("users", oncomplete=read)
   timer.set_timeout(wait, TIMEOUT)

request()
</script>
</body></html>
